main {
  border: 2px solid;
  align-items: center;
  justify-content: center;
  
}

label {
  color: black;
  font-size: medium;
}

.Filter-Search1 {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.Filter-Search2 {
  display: flex;
}

.InputName {
  padding-left: 30%;
  padding-right: 30%;
}

.Buttons {
  margin: 10px;
}

.Table {
  margin-bottom: 10%;
}

.Paginated {
  padding-top: 10px;
  padding-bottom: 10px;
}